<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>RallyApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css">
    <link rel="alternate" href="/feed" type="application/atom+xml" title="RallyApp">
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="body">
      <div id="header">
        <div style="float:right">
        </div>
        <h2>Rally App</h2>
      </div>
      <div id="content">{% block body %}{% endblock %}</div>
    </div>
    {% block bottom %}{% endblock %}
  </body>
</html>